@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
    if (User.IsInRole("Admin"))
    {
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("List_Trainer", "Index", "Trainers", routeValues: null, htmlAttributes: new { id = "registerLink" })
            </li>
            <li>
                @Html.ActionLink("List_Staff", "Index", "Staffs", routeValues: null, htmlAttributes: new { id = "registerLink" })
            </li>

            <li>
                @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
            </li>
            <li>
                @Html.ActionLink("List_Account", "Index", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
            </li>
        </ul>
    }
    if (User.IsInRole("Staff"))
    {
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("List_Topic", "Index", "Topics", routeValues: null, htmlAttributes: new { id = "registerLink" })
            </li>
            <li>
                @Html.ActionLink("List_Trainer", "Index", "Trainers", routeValues: null, htmlAttributes: new { id = "registerLink" })
            </li>
            <li>
                @Html.ActionLink("List_Trainee", "Index", "Trainees", routeValues: null, htmlAttributes: new { id = "registerLink" })
            </li>
            <li>
                @Html.ActionLink("List_Courses", "Index", "Courses", routeValues: null, htmlAttributes: new { id = "registerLink" })
            </li>
            <li>
                @Html.ActionLink("List_CoursesCategory", "Index", "CourseCategories", routeValues: null, htmlAttributes: new { id = "registerLink" })
            </li>
            <li>
                @Html.ActionLink("List_Enrollment", "Index", "Enrollments", routeValues: null, htmlAttributes: new { id = "registerLink" })
            </li>
            <li>
                @Html.ActionLink("Profile", "Index", "Staffs", routeValues: null, htmlAttributes: new { id = "registerLink" })
            </li>
        </ul>
    }
    if (User.IsInRole("Trainer"))
    {
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("List_Courses", "Index", "Courses", routeValues: null, htmlAttributes: new { id = "registerLink" })
            </li>
            <li>
                @Html.ActionLink("List_Enrollment", "Index", "Enrollments", routeValues: null, htmlAttributes: new { id = "registerLink" })
            </li>
            <li>
                @Html.ActionLink("Profile", "Index", "Trainers", routeValues: null, htmlAttributes: new { id = "registerLink" })
            </li>
        </ul>
    }
    if(User.IsInRole("Trainee"))
    {
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("List_Enrollment", "Index", "Enrollments", routeValues: null, htmlAttributes: new { id = "registerLink"})
            </li>
        </ul>
    }

}
else
{
    <ul class="nav navbar-nav navbar-right">
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
